#redesSociales{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(41, 41, 41);
    border-radius: 12px;
    position: relative;
}

img{
    height: 75px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-60%);
    left: 50%;
    top:20%
}

h1,p{
    color: aliceblue;
}
h4{
    color: hsl(75, 94%, 57%);
}
#presentacion{
    margin-top: 100px;
    text-align: center;
}